:root{
    --splash_background:#19233d;
    --light_blue: #37a5bf;
}


.header_container{
    border:1px solid black;
    padding: 1.5rem 0rem;
    min-height: 10vh;
    display: flex;
    align-content: center;
    margin:auto;
    font-family: 'Alata', sans-serif;
    
    .header_logo_button &:hover{
        background-color: transparent;
    }

    .header_logo{
        width:20vw;
        margin: 0 auto;
    }

    .header_searchbar_container{
        display: flex;
        flex-direction: row;
        margin:auto;
        width: 60vw;
    }

    .header_left_container{
        display: flex;
    }

    .header_right_container{
        margin:auto;
        display: flex;
        width: 20vw;
    }
    .header_right_element{
        padding: 1.5rem 1rem;
        margin:auto;
        cursor: pointer;
        color:var(--splash_background);
        
        &:hover{
            color:var(--light_blue);
        }
    }
}