.header_container{
    border:1px solid black;
    padding: 1.5rem 0rem;


    .header_logo{
        width:20vw;
    }


    .header_nav_container{

    }
    .header_nav_link{
        padding: 1rem 1.5rem;
        cursor: pointer;
    }
}