

:root{
    --splash_background:#19233d;
}

.splash_container{
    min-height:80vh;
    background-image: url(./splash_assets/temp_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 50%;
    font-family: 'Alata', sans-serif;

    .splash_welcome_card{
        width:90%;

        margin: 0 auto;
        padding: 1rem;
    }

    .splash_paper{
        align-items: center;
        height: 40vh;
        display: flex;
        padding: 1.5rem;
        text-align: center;
        margin: 2rem auto;
    }
}